{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="http://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script type="application/javascript">

        let keys = {{ keys|json_encode|raw }};
        let defaultY = {{ timeVal|json_encode|raw }};

    </script>
    <script src="{{ asset('js/graphTest.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/graph.css') }}">
{% endblock %}

{% block body %}
    <div class="tunecontainer" style="padding-top: 2px;">
        <div style="width:100%; text-align: center; font-size:larger;margin-top: 2px;padding-top: 2px;margin-bottom:15px;">
            <span></span>
        </div>
        <canvas id="chartJSContainer" width="1000" height="200"></canvas>
        <div style="border:1px solid white; width:100%;">
            <span id="yPos" style="margin:4px;">?</span>
        </div>
    </div>
    <button id="applyChanges">Apply Changes</button>
    <button id="cancelChanges">Cancel Edits</button>
    <button id="undoChanges">Undo Applied Changes</button>
{% endblock %}

