{% extends 'base.html.twig' %}

{% block title %}Training, training, training, rest.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('welcome') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('welcome') }}
{% endblock %}
{% block body %}

    <div class="aos-box aos-a" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <h1>What IS an Annual Training Plan?</h1>
        <h4> Basically, an Annual Training Plan is just a set
            of
            weekly
            targets that say how much training you're going to do and what type of training you're going
            to
            do
            each week in order to achieve some objective you've set for the end of the plan.</h4>
    </div>
    <div class="aos-box aos-b" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <h1>Start with Goals & Events</h1>
        <h4>To start, we pick our goals and key events for the year. These can be races or much more
            general
            objectives,
            but the important thing is to decide what they are, and to put them on the plan.</h4>
        Next, races are great, but they’re probably not the only thing even the most important things in
        your year
        that are going to affect your training…
        Unique “life events” are super important to include in your planning.
        Things like:
        <div>
            <ol>
                <li>Family Vacations</li>
                <li>Training camps</li>
                <li>Exam periods for students</li>
                <li>Business trips</li>
                <li>The Holiday Season</li>
            </ol>
        </div>
        These have a huge impact on your year, so it’s important to write them down and not to forget
        to include them when you go on to the next steps of planning.
    </div>
    <div class="aos-box aos-b" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <h1>Set the Scheduling</h1>
        <h4>Next up is to set the scheduling of your training throughout the year.
            What we want to do here is break your training in to three to four week mesocycles,
            factoring in
            those life events.</h4>
        When we’re doing this, we want to be strategic about where we plan our rest weeks. For example,
        where are your lower priority races?
        Putting your ‘B’ races at the end of rest week is a great option. That way, you can show up
        fresh
        and ready
        to race rather than fatigued at the end of a hard training week.
    </div>
    <div class="aos-box aos-b" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <h1>Apply your Periodization</h1>
        <h4>Once you know when your training blocks are going to happen, it’s time to figure out
            what kind of training you’re going to do inside of them, and that process is called
            Periodization.</h4>
        The Classic style of Periodization is to have something like:
        <div>
            <ol>
                <li>12 week Base period</li>
                <li>8 week Build period</li>
                <li>~2 week “Peak” period leading into an set of ‘A’ races</li>
            </ol>
        </div>
        Of course, there are lots of other strategies and options when it comes to periodization, but
        they
        all work within the framework of annual planning.
    </div>
    <div class="aos-box aos-footer" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <h5><small>Animate On Scroll Library </small><a href="https://www.cssscript.com/animate-elements-scroll-aos/">AOS</a>
        </h5>
        <h5><small>Simple yet flexible JavaScript charting </small><a href="https://www.chartjs.org/">Chart JS</a></h5>
        <h5><small>The action of sliding text </small><a href="https://www.awwwards.com/websites/scrolling/">Websites
                Scrolling</a></h5>
        <h5><small>Making the web more beautiful </small><a href="https://fonts.google.com/">Google Fonts</a></h5>
        <h5><small>Materialize Parallax </small><a href="https://materializecss.com/parallax-demo.html">Parallax</a>
            <h5><small>Annual Training Plans </small><a href="https://zwiftinsider.com/annual-training-plans/">ATP</a>
            </h5>
    </div>
{% endblock %}
