<footer class="main-footer">
    <!-- To the right -->
    {#    <div class="pull-right hidden-xs">#}
    {#        Anything you want#}
    {#    </div>#}
    <!-- Default to the left -->
    <div class="row">{% include 'svg/oko.html.twig' %}</div>
    <div class="row" style="padding-left: 10px; margin-top: 0px; ">
        <i class="fas fa-copyright"></i>
        <span> All rights are reserved</span>
    </div>
</footer>