<footer class="main-footer">
    <!-- To the right -->
    {#    <div class="pull-right hidden-xs">#}
    {#        Anything you want#}
    {#    </div>#}
    <!-- Default to the left -->

    <i class="fas fa-copyright"></i>
    <span>All rights are reserved</span>
</footer>