@import "colors";
$dark: (
        "body": desaturate(darken(#471624, 15%), 40%),
        "menu": #ffffff,
        "font": #83878f,
  //"base": #471624,
        "base": #471624,
        "ftp": #ffffff,
        "ftpborder": #ff7a4b,
        "ftpdone": #131313,
        "ftpdoneborder": #232323,
        "bar1": #ff7a4b,
        "bar1border": #ff7a4b,
        "bar2": #dd6e42,
        "bar2border": desaturate(#dd6e42, 20%),
        "bardone": #121212,
        "bardoneborder": #191919,
        "lighten-5": lighten(#1c1c1c, 6%),
        "lighten-4": lighten(#1c1c1c, 5%),
        "lighten-3": lighten(#1c1c1c, 4%),
        "lighten-2": lighten(#1c1c1c, 3%),
        "lighten-1": lighten(#1c1c1c, 2%),
        "darken-1": desaturate(darken(#1c1c1c, 1%), 20%),
        "darken-2": desaturate(darken(#1c1c1c, 2%), 30%),
        "darken-3": desaturate(darken(#1c1c1c, 3%), 30%),
        "darken-4": desaturate(darken(#1c1c1c, 4%), 30%),
        "accent-1": #1c1c1c,
        "accent-2": #eeeeee,
        "accent-3": #1c1c1c,
        "accent-4": #1c1c1c
);

$img: (
        "accent-2": #a7a29b,
        "base": #43A047,
        "base2": #ff6b36,
  //"base": #795548,
  //"base2": #8d6e63,
        "accent-1": #474642
);

$img2: (
        "font": #f0f5ec,
        "base": #000,
        "accent-1": #00185c
);
$theme: 'img';
$theme2: 'img2';

$shades: (
        "black": #000000,
        "white": #FFFFFF,
        "transparent": transparent
);

$colors: (
        "materialize-red": $materialize-red,
        "red": $red,
        "pink": $pink,
        "purple": $purple,
        "deep-purple": $deep-purple,
        "indigo": $indigo,
        "blue": $blue,
        "light-blue": $light-blue,
        "cyan": $cyan,
        "teal": $teal,
        "green": $green,
        "light-green": $light-green,
        "lime": $lime,
        "yellow": $yellow,
        "amber": $amber,
        "orange": $orange,
        "deep-orange": $deep-orange,
        "brown": $brown,
        "blue-grey": $blue-grey,
        "grey": $grey,
        "shades": $shades,
        "dark": $dark,
        "img": $img,
        "img2": $img2,
) !default;

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{$color}` - `#{$type}` in $colors.";
  @return null;
}

$font-color: color($theme2, "font") !default;
$body-color: color($theme2, "base") !default;
$menu-color: darken($body-color, 3%) !default;
$menu-level2-color: darken($body-color, 6%) !default;
$menu-level2-color-active: lighten($body-color, 2%) !default;
$primary-color: color($theme, "base") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color($theme, "base2") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: $font-color !default;

$collapsible-header-color: $secondary-color !default;
$button-raised-background: darken($primary-color, 20%) !default;
$button-raised-background-hover: lighten($button-raised-background, 15%) !default;
$button-raised-color: #eee !default;
$collapsible-border-color: color($theme, "accent-1");


.content-wrapper {
  /*background-color: #74c98f;*/
  color: $font-color;
  background-color: #ffffff00 !important;
}

.main-header {
  //box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-header, .navbar {
  //background-color: $primary-color;
  //background-color: #ffffff22;
}

.main-sidebar {
  background-color: $primary-color;
  background-color: #00000015;
  border-right: solid 1px lighten($menu-color, 2%);
  text-align: left;
}

body {
  background-color: $body-color;
  //background: linear-gradient(to bottom, transparentize(color($theme, "accent-1"), 0.46) 0%, transparentize($body-color, 0.15) 100%), radial-gradient(at top center, rgba(171, 171, 171, 0.57) 0%, transparentize($body-color, 0.1) 120%) color($theme, "accent-2");
  //background-blend-mode: multiply, multiply;
  color: $font-color;
  overflow-y: scroll;

  & {
    &.sidebar-collapse .sidebar-menu {
      & li a {
        & i {
          filter: grayscale(10%);
          transition: .3s ease-in;
          color: $link-color;
          font-size: larger;
        }

        & i.pull-right {
          color: $link-color;
        }
      }
    }

    .sidebar-menu {
      & li a {
        & i {
          filter: grayscale(20%);
          transition: .3s ease-out;
          color: $primary-color;
        }

        & i.pull-right {
          color: $link-color;
        }
      }
    }


    a:hover, a:active, a:link, a:visited {
      color: $link-color;
    }

    & .wrapper {
      background: linear-gradient(to bottom, transparentize(color($theme, "accent-1"), 0.46) 0%, transparentize($body-color, 0.15) 100%), radial-gradient(at top center, rgba(171, 171, 171, 0.57) 0%, transparentize($body-color, 0.1) 120%) color($theme2, "accent-1");
      background-blend-mode: multiply, multiply;
    }

    .content-header > .breadcrumb > li > a {
      color: $link-color;
    }

    .main-footer {
      background-color: #00000011;
      border: 0;
      padding: 2px;
      font-size: smaller;
    }

    .main-sidebar {
      & .collapsible {
        border: 0;
        margin: 1px;
      }

      & .collapsible-header {
        background-color: inherit;
        border: 0;
      }

      & .collapsible-body {
        border: 0;
        margin: 1px;
      }

      & .divider {
        margin: 0;
        height: 4px;

        background-color: transparent;
      }
    }

    #chartJSContainer {
      //width: 1920px;
      //  max-height: 400px;
    }

    //.sidebar-menu {
    //  & > li {
    //    //background-color: $menu-color;
    //
    //    background-color: #ffffff22;
    //    background-color: transparentize(lighten($primary-color, 1%), 0.97);
    //    border-top: solid 1px darken($menu-color, 2%);
    //
    //    & a {
    //      filter: grayscale(10%);
    //      transition: .2s ease-in;
    //    }
    //
    //    & a:hover {
    //      //background-color: $menu-color;
    //      background-color: #ffffff33;
    //      background-color: desaturate(darken($primary-color, 3%), 10%);
    //      filter: grayscale(20%);
    //      color: #fff;
    //      //border-left: solid 5px darken($menu-color, 20%);
    //    }
    //
    //    &.treeview {
    //      &.menu-open a {
    //
    //        background-color: desaturate(darken($primary-color, 3%), 10%);
    //      }
    //
    //      &.active > a {
    //
    //
    //        //background-color: $menu-level2-color-active;
    //        color: #fff;
    //        background-color: $primary-color;
    //      }
    //    }
    //
    //
    //    & .treeview-menu {
    //      padding: 0;
    //    }
    //
    //    & .treeview-menu li {
    //      //background-color: $menu-color;
    //      background-color: #ffffff11;
    //      border-top: solid 1px darken($menu-color, 2%);
    //
    //
    //      & a {
    //        //padding-left: 20px;
    //        background-color: #ffffff11;
    //        background-color: darken($primary-color, 3%);
    //      }
    //
    //      & a:hover {
    //        border-left: 0;
    //        color: #fff;
    //        background-color: lighten($primary-color, 0%);
    //      }
    //
    //      &.active {
    //
    //        //background-color: #00000011;
    //        background-color: lighten($primary-color, 2%);
    //
    //        //padding-left: 5px;
    //        //border-left: solid 5px #ffffff55;
    //
    //        & a:hover {
    //          border-left: 0;
    //          color: #fff;
    //          background-color: #ffffff22;
    //        }
    //
    //        & a {
    //          color: #eee;
    //          //background-color: $menu-color;
    //          background-color: #ffffff11;
    //        }
    //
    //      }
    //    }
    //
    //  }
    //}

    .breadcrumb::before {
      content: '' !important;
    }


    canvas {
      padding-bottom: 0;
    }

    .collapsible-header {

    }
  }

}

.controls.badges {

  & .list {
    list-style: none;
    margin: 0px 10px 0px 10px;

    & li {
      margin: 0px 0px 2px 0px;
    }

    &.small {

      & li .icheckbox_line {
        font-size: smaller;
        padding: 5px 15px 5px 38px;
        line-height: normal;
      }
    }

    &.float-right {
      & li {
        float: right;
      }
    }

    &.float-left {
      & li {
        float: left;
      }
    }

    & li {

      margin-left: 2px;

      & .icheckbox_line, .iradio_line {
        filter: brightness(100%);
        transition: .2s ease-in;
        background-color: $button-raised-background;
        color: $font-color;

        &.hover {
          filter: brightness(130%);
          color: darken($font-color, 90%);
        }

        &.checked {
          transition: .2s ease-in;
          filter: brightness(160%);

        }
      }
    }
  }

  & button {
    background-color: $button-raised-background;
    text-decoration: none;
    color: #eee;
    text-align: center;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 12px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 11px;

    line-height: 17px;

    color: #fff;

    cursor: pointer;
  }
}


@import "ControlSidebar";
@import "GraphColors";
@import "DataTable";
@import "Curtain";
@import "Ripple";