@import "Colors";

$theme: 'dark';
@import "scss/materialize";

html {
  overflow: scroll;
  overflow-x: hidden;
  //scrollbar-width: none;
  background: #000;
}


body {
  font-family: "Exo 2", sans-serif;
  -webkit-font-smoothing: antialiased;
  //background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  //background: linear-gradient(to bottom, #ee7752 0% , #e73c7e 100%), radial-gradient(at top center, #23a6d5 10%, #23d5ab 120%), #23a6d5  ;
  //background: linear-gradient(to bottom, transparentize($body-color, 0.46) 0%, transparentize($body-color, 0.15) 100%), radial-gradient(at top center, rgba(171, 171, 171, 0.57) 0%, transparentize($body-color, 0.1) 120%) darken(color($theme, "accent-2"), 20%);
  background-size: 200% 200%;
  animation: gradientBG 15s ease infinite;

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2", sans-serif;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 0%;
  }
  //50% {
  //  background-position: 100% 50%;
  //}
  100% {
    background-position: 100% 100%;
  }
}

//::-webkit-scrollbar {
//  width: 0px; /* Remove scrollbar space */
//  background: transparent; /* Optional: just make scrollbar invisible */
//}
//
///* Optional: show position indicator in red */
//::-webkit-scrollbar-thumb {
//  background: #FF0000;
//}

.content-wrapper {
  /*background-color: #74c98f;*/
  color: $font-color;
  background-color: #ffffff00 !important;

  & .content {
    padding: 0px;
  }
}

.main-header {
  //box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-header, .navbar {
  //background-color: $primary-color;
  //background-color: #ffffff22;
}

.main-sidebar {
  //background-color: $primary-color;
  //background-color: #00000015;
  border-right: solid 1px lighten($menu-color, 2%);
  text-align: left;
}

body {
  & form {
    padding-right: 15px;
  }

  background-color: $body-color;
  //background: linear-gradient(to bottom, transparentize(color($theme, "accent-1"), 0.46) 0%, transparentize($body-color, 0.15) 100%), radial-gradient(at top center, rgba(171, 171, 171, 0.57) 0%, transparentize($body-color, 0.1) 120%) color($theme, "accent-2");
  //background-blend-mode: multiply, multiply;
  color: $font-color;
  overflow-y: hidden;

  & .darken-container {
    //opacity: 0.9;
  }

  & {

    & .select-field {
      & label {
        font-size: 1rem;
        line-height: 35px;
      }

      & .dropdown-content {
        background-color: #000000aa;

        & li, & li.selected {
          transition: .2s ease-in;

          &.active {
            background-color: darken($select-option-hover, 10%);
            transition: .2s ease-in;

            & > a, & > span {
              transition: .2s ease-in;
              color: #ffffff99;
            }
          }

          &:hover {
            background-color: $select-option-hover;
            transition: .2s ease-in;

            & > a, & > span {
              transition: .2s ease-in;
              color: #000000;
            }
          }
        }
      }
    }

    a:hover, a:active, a:link, a:visited {
      color: $link-color;
    }

    & .wrapper {
      background: linear-gradient(to bottom, transparentize(color($theme, "accent-1"), 0.46) 0%, transparentize($body-color, 0.15) 100%), radial-gradient(at top center, rgba(171, 171, 171, 0.57) 0%, transparentize($body-color, 0.1) 120%) darken(color($theme, "accent-2"), 0%);
      background-blend-mode: multiply, multiply;
      overflow: hidden;
    }

    .content-header > .breadcrumb > li > a {
      color: $link-color;
    }

    .main-footer {
      background-color: #00000011;
      border: 0;
      padding: 2px;
      font-size: smaller;
    }

    .main-sidebar {
      & .collapsible {
        border: 0;
        margin: 1px;
      }

      & .collapsible-header {
        background-color: inherit;
        border: 0;
      }

      & .collapsible-body {
        border: 0;
        margin: 1px;
      }

      & .divider {
        margin: 0;
        height: 4px;

        background-color: transparent;
      }
    }

    #chartJSContainer {
      //width: 1920px;
      //  max-height: 400px;
    }

    .breadcrumb::before {
      content: '' !important;
    }


    .canvas {
      margin-bottom: 1px;
    }

    .collapsible-header {

    }
  }

}

.controls.badges {

  & .list {
    list-style: none;
    margin: 0px 10px 0px 10px;

    & li {
      margin: 0px 0px 2px 0px;
    }

    &.small {

      & li .icheckbox_line {
        font-size: smaller;
        padding: 5px 15px 5px 38px;
        line-height: normal;
      }
    }

    &.float-right {
      & li {
        float: right;
      }
    }

    &.float-left {
      & li {
        float: left;
      }
    }

    & li {

      margin-left: 2px;

      & .icheckbox_line, .iradio_line {
        filter: brightness(100%);
        transition: .2s ease-in;
        background-color: $button-raised-background;
        color: $font-color;

        &.hover {
          filter: brightness(130%);
          color: darken($font-color, 90%);
        }

        &.checked {
          transition: .2s ease-in;
          filter: brightness(160%);

        }
      }
    }
  }

  & button {
    background-color: $button-raised-background;
    text-decoration: none;
    color: #eee;
    text-align: center;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 12px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 11px;
    line-height: 17px;
    color: #fff;
    cursor: pointer;
  }
}

@import "Sidebar";
@import "ControlSidebar";
@import "TimeTrial";
@import "GraphColors";
@import "ContexMenu";
@import "DataTable";
@import "Curtain";
@import "Ripple";
@import "Zinggrid";

.row {
  margin-left: 0;
}

html body {
  --primary-color: #00ff00 !important;
  --primary-text-color: $font-color !important;
  --primary-background-color: #00000066 !important;

  & .collapsible-header {
    background-color: #00000099;
  }
}

#trigger {
  background-color: #00000000;
  width: 2px;
  height: 900px;
  float: left;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

#canvas-container {

  //margin-left: -90px;
}

canvas {
  width: 105%
}

