@import "Colors";

body {
  font-family: "Exo 2", sans-serif;
  -webkit-font-smoothing: antialiased;
  //overflow-y: visible;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2", sans-serif;
  line-height: 1.5;
}

body, html {
  background: linear-gradient(225deg, #000000, #17bb24, #f1fc13, #ff5e10, #000000) fixed;
  //background: #00000099;
  background-size: 400% 150%;
}

.aos-box {
  //display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 4px #000;
  width: 60%;
  text-align: center;

  & h1 {
    margin: 5%;
  }

  & h4 {
    margin: 2%;
  }
  & ol {
    margin: 2%;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-align: left;
    list-style: circle;
  }
}

.aos-a {
  margin: 35vh auto 60vh auto;
}

.aos-b {
  margin: 50vh auto 50vh auto;
}

.aos-footer {
  margin: 50vh auto 10vh auto;

  & small {
    color: #ffffffcc;
  }

  & a {
    transition: all 0.8s ease-in;
    color: $font-color;

    &:hover {
      color: black;
      text-shadow: 0 0 5px #fff;
      transition: all 50ms ease-in;
    }
  }
}