@import "colors";

$dark: (
        "body": desaturate(darken(#471624, 15%), 40%),
        "menu": #ffffff,
        "font": #83878f,
  //"base": #471624,
        "base": #471624,
        "ftp": #ffffff,
        "ftpborder": #ff7a4b,
        "ftpdone": #131313,
        "ftpdoneborder": #232323,
        "bar1": #ff7a4b,
        "bar1border": #ff7a4b,
        "bar2": #dd6e42,
        "bar2border": desaturate(#dd6e42, 20%),
        "bardone": #121212,
        "bardoneborder": #191919,
        "lighten-5": lighten(#1c1c1c, 6%),
        "lighten-4": lighten(#1c1c1c, 5%),
        "lighten-3": lighten(#1c1c1c, 4%),
        "lighten-2": lighten(#1c1c1c, 3%),
        "lighten-1": lighten(#1c1c1c, 2%),
        "darken-1": desaturate(darken(#1c1c1c, 1%), 20%),
        "darken-2": desaturate(darken(#1c1c1c, 2%), 30%),
        "darken-3": desaturate(darken(#1c1c1c, 3%), 30%),
        "darken-4": desaturate(darken(#1c1c1c, 4%), 30%),
        "accent-1": #1c1c1c,
        "accent-2": #eeeeee,
        "accent-3": #1c1c1c,
        "accent-4": #1c1c1c
);

$img: (
        "accent-2": #5d5656,
        "base": #17bb24, //#37b83c,
        "base2": #ff5a1b, //#ff6b36,
  //"base": #795548,
  //"base2": #8d6e63,
        "accent-1": #fffdf6,
);

$img2: (
        "font": #edf2e9,
        "base": #000,
        "accent-1": #00185c
);
$theme: 'img';
$theme2: 'img2';

$shades: (
        "black": #000000,
        "white": #FFFFFF,
        "transparent": transparent
);

$colors: (
        "materialize-red": $materialize-red,
        "red": $red,
        "pink": $pink,
        "purple": $purple,
        "deep-purple": $deep-purple,
        "indigo": $indigo,
        "blue": $blue,
        "light-blue": $light-blue,
        "cyan": $cyan,
        "teal": $teal,
        "green": $green,
        "light-green": $light-green,
        "lime": $lime,
        "yellow": $yellow,
        "amber": $amber,
        "orange": $orange,
        "deep-orange": $deep-orange,
        "brown": $brown,
        "blue-grey": $blue-grey,
        "grey": $grey,
        "shades": $shades,
        "dark": $dark,
        "img": $img,
        "img2": $img2,
) !default;

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{$color}` - `#{$type}` in $colors.";
  @return null;
}

$font-color: color($theme2, "font") !default;
$body-color: color($theme2, "base") !default;
$body2-color: color($theme, "base2") !default;
$menu-color: darken($body-color, 3%) !default;
$menu-level2-color: darken($body-color, 6%) !default;
$menu-level2-color-active: lighten($body-color, 2%) !default;
$primary-color: color($theme, "base") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color($theme, "base") !default;
$atp-color: color($theme, "base2") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: $font-color !default;

$collapsible-header-color: $body-color !default;
$button-raised-background: darken($primary-color, 20%) !default;
$button-raised-background-hover: lighten($button-raised-background, 15%) !default;
$button-raised-color: #eee !default;
$collapsible-border-color: color($theme, "accent-1");
$select-background: color($theme2, "base") !default;
$select-option-hover: color($theme, "base") !default;
$select-option-hover-color: #000;
$select-option-focus-color: color($theme2, "base") !default;
$select-option-selected-color: color($theme2, "base") !default;
$input-focus-color: #fff;
