.curtain {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__wrapper {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 700ms ease-in;

    & #curtain__checkbox {
      position: absolute;
      cursor: pointer;
      z-index: 100;
      opacity: 0;
      //top: 97.7%;
      top: -20px;
      left: 0;
      pointer-events: auto;

      // When the checkbox is checked...
      & ~ div.curtain__content {
        transition: all 200ms ease-in;
        filter: sepia(0%) blur(0px);
      }
      &:checked {
        & ~ div.curtain__content {
          transition: all 200ms ease-out;
          filter: sepia(100%) blur(8px);
        }

        // Slide the first panel
        & ~ div.curtain__panel--left {
          transform: translateX(0);
        }

        // Slide the second panel
        & ~ div.curtain__panel--right {
          transform: translateX(0);
        }
      }
    }
  }

  &__panel {
    display: flex;
    align-items: center;
    background: #000000;

    opacity: 1;
    color: #fff;
    float: left;
    position: relative;
    width: 50%;
    height: 100vh;
    transition: transform 200ms ease-out;
    z-index: 2;

    &--left {
      justify-content: flex-end;
      transform: translateX(-100%);
      background: linear-gradient(180deg, darken(desaturate($body-color, 10%), 10%), rgba(255, 255, 255, 0) 67.71%),
      linear-gradient(90deg, darken(desaturate($body-color, 10%), 10%), rgba(255, 255, 255, 0) 41.71%),
      linear-gradient(0deg, darken(desaturate($body-color, 10%), 10%), rgba(255, 255, 255, 0) 67.71%),
      linear-gradient(270deg, darken(desaturate($body-color, 10%), 10%), rgba(255, 255, 255, 0) 67.71%);
      background-blend-mode: multiply, multiply;
    }

    &--right {
      justify-content: flex-start;
      transform: translateX(100%);
      background: linear-gradient(180deg, darken(desaturate($body-color, 10%), 10%), rgba(255, 255, 255, 0) 67.71%),
      linear-gradient(90deg, darken(desaturate($body-color, 10%), 10%), rgba(255, 255, 255, 0) 67.71%),
      linear-gradient(0deg, darken(desaturate($body-color, 10%), 10%), rgba(255, 255, 255, 0) 41.71%),
      linear-gradient(270deg, darken(desaturate($body-color, 10%), 10%), rgba(255, 255, 255, 0) 67.71%);
      background-blend-mode: multiply, multiply;
    }
  }

  &__content {

    color: #fff;
    padding: 0rem 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;

    img {
      width: 20%;
    }
  }

}