html {
  & {
    .ftp {
      color: $secondary-color;
    }

    .ftpDone {
      color: $primary-color;
    }

    .bardone {
      color: $primary-color;
    }

    .bardoneborder {
      color: $primary-color;
    }

    .bar {
      color: $secondary-color;
    }

    .bar2 {
      color: $secondary-color;
    }

    .border-bar {
      color: $secondary-color;
    }

    .border-bar2 {
      color: $secondary-color;
    }

    .border-ftp {
      color: $secondary-color;
    }

    .grid {
      color: darken($font-color, 10%);
    }
    .grid-font{
      color: darken($font-color, 10%);

    }

    .tunecontainer {
      margin: 0 5px 0 0;
    }
  }
}