//@import 'Colors.scss';
@import "base";
@import "scss/materialize";

body {
  animation: none;
}

.login-wrapper {
  color: #000;
  padding: 15px;

  & .form-submit {

  }

  & .btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #eee;
    background-color: #ff5e10;


  }

  & input {
    color: #ffeabd;

    /* Change Autocomplete styles in Chrome*/
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      -webkit-text-fill-color: white;
      -webkit-box-shadow: 0 0 0 0 #000 inset;
      background-color: #ff5e10;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  & .login-form {
    margin: auto;
    color: #ffeabd;
    //display: flex;
    align-items: center; // vertical centering
    justify-content: center; // horizontal centering
    max-width: 50vh;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & label {

      text-shadow: 0 0 4px #000;
      color: white;
    }
  }
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border: none;
  border-bottom: 1px solid #fff;
}


[type="checkbox"].filled-in:checked + span:not(.lever):before {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;

}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: none;
  background-color: #00000000;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  border: 1px solid #ffeabd99;
}

.checkbox label {
  padding-left: 0px;
}

.input-field {
  margin-top: 2rem;
  padding-bottom: 1rem;
}