@import 'Colors.scss';
@import "atp";
.login-wrapper {
  color: #ffeabd;
  padding: 15px;

  & input {
    color: #ffeabd;

    /* Change Autocomplete styles in Chrome*/
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      -webkit-text-fill-color: green;
      -webkit-box-shadow: 0 0 0 0 #000 inset;
      background-color: #4f4f4f;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  & .login-form {
    color: #ffeabd;
    display: flex;
    align-items: center; // vertical centering
    justify-content: center; // horizontal centering

    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & label {
      color: #9f8a5d;
    }
  }
}
